* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--white);

  margin: 0 auto;
  max-width: 1440px;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

:root {
  --main-blue: #2196f3;
  --purple: #4d5ae5;
  --navy-blue: #2e2f42;
  --grey-paragraphs: #434455;
  --off-white: #f4f4fd;
  --white: #fff;
  --grey-customer: #8e8f99;
}
.section {
  padding: 120px 0;
}
/* Logo section */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-nav {
  display: flex;
  align-items: center;
}
.logo-link {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17em;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
  text-decoration: none;
}

.logo-part {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
}
.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-part {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17em;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: inline-block;
}
/* Page description */
.list {
  display: flex;
  gap: 40px;
}

.page-description-link {
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  letter-spacing: 0.32px;
  display: inline-block;
  padding: 24px 0;
  text-decoration: none;
  position: relative;
  color: #404bbf;
}

.page-description-link::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-description:hover,
.page-description:focus {
  color: #404bbf;
}
/* Contacts */
.contact {
  font-style: normal;
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.address-description {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
}
.link {
  padding: 24px 0 24px;
  text-decoration: none;
  display: block;
}

.link:hover,
.link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.address-description:hover,
.address-description:focus {
  color: #404bbf;
}
/* Main */

.first-section-background {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/section1backgroung.jpg);
  /* max-width: 1440px; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
}
.main-title {
  padding: 188px 0;
  background-color: #2e2f42;
}
.main-text {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07em;
  text-align: center;
  letter-spacing: 1.12px;
  margin: 0 auto;
  max-width: 496px;
  padding-bottom: 48px;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  margin: 0 auto;
}

.hero-button:hover,
.hero-button:focus {
  color: #ffffff;
  background-color: #404bbf;
}
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}
.hero-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700px;
  line-height: 1.07;
  letter-spacing: 1.12px;
  max-width: 496px;
}
/* goals list */
h2 {
  color: #2e2f42;
}

.goals-list-list {
  list-style: none;
  display: flex;
  gap: 24px;
  justify-content: center;
  padding: 0;
}
.goals-list-two {
  flex-basis: calc((100% - 72px) / 4);
}

.goals-title {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.goals-paragraph {
  color: var(--grey-paragraphs);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* What are we doing */
.section-what-are-we-doing {
  padding-bottom: 120px;
}
.what-are-we-doing-title {
  color: var(--navy-blue);
  font-size: 36px;
  font-weight: 700px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.what-are-we-doing-list {
  display: flex;
  gap: 24px;
}
.images {
  display: block;
  max-width: 100%;
  height: auto;
}
.section-two-list {
  width: calc((100% - 48px) / 3);
}
/* our team */
.our-team-title {
  color: var(--navy-blue);
  font-size: 36px;
  font-weight: 700px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.our-team-background {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.our-team-title-list {
  display: flex;
  gap: 24px;
}
.our-team-names {
  padding: 32px 0;
  text-align: center;

  background-color: #ffffff;
}
.our-team-name {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;

  margin-bottom: 8px;
}
.our-team-paragraph {
  color: var(--grey-paragraphs);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 8px;
}
.our-team-box {
  width: calc((100% - 72px) / 4);

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.our-team {
  background-color: #f4f4fd;
  padding: 0;
}
/* Footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.logo-part-foot {
  color: var(--purple);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-foot {
  color: var(--off-white);

  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17em;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.footer-paragraph {
  color: var(--off-white);
  font-size: 16px;
  letter-spacing: 0.32px;
  font-weight: 400;
  line-height: 1.5em;
  max-width: 264px;
}

/*/PORTFOLIO/*/
.navigation {
  display: flex;
  align-items: center;
}

.filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.filter {
  color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.layout {
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.filter-photos-list {
  width: calc((100% - 48px) / 3);
  text-decoration: none;
}

.filter:hover,
.filter:focus {
  color: var(--background-color);
  background-color: var(--active-links-color);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.service-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.project-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.project-paragraph {
  color: #434455;
  font-size: 16px;
  letter-spacing: 0.02em;
  font-weight: 400;
  line-height: 1.5em;
}
.projects {
  padding-top: 96px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.pages {
  list-style: none;
  text-decoration: none;
}

.main-description {
  background: #2f303a;
  text-align: center;
  padding: 200px 0;
}

.logo-section-two {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--off-white);
  border-radius: 4px;
  margin-bottom: 8px;
}

.list-logo-section-four {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.list-item-social-media-section-four {
  width: 40px;
  height: 40px;
}
.social-media-links-section-four {
  width: 100%;
  height: 100%;
  background-color: var(--purple);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media-links-section-four:hover,
.social-media-links-section-four:focus {
  background-color: #404bbf;
}

.logo-section-four {
  fill: var(--off-white);
}

.customers-title {
  color: var(--navy-blue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.list-customers {
  display: flex;
  gap: 24px;
}

.item-customers {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customer {
  width: 100%;
  height: 100%;
  border: 1px solid var(--grey-customer);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey-customer);
}

.customer:hover,
.customer:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.customer-logo {
  fill: currentColor;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.footer-logo-and-description {
  margin-right: 120px;
}

.footer-social-media-paragraph {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-list {
  display: flex;
  gap: 16px;
}

.footer-item-social-media-list {
  width: 40px;
  height: 40px;
}

.footer-social-media-link {
  width: 100%;
  height: 100%;
  background-color: var(--purple);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-media-link:hover,
.footer-social-media-link:focus {
  background-color: #31d0aa;
}

.footer-logo {
  fill: var(--off-white);
}
